.formLogin {
    width: fit-content;
    margin: 100px auto 0;
    font-size: 1rem;
    padding: 50px;
    background-color: rgba(139, 94, 66, 0.576);
    border-radius: 10px;
    margin-bottom: 50px;
}

.formLogin > h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 30px;
    text-shadow: #00000097 0.1em 0.1em 0.2em;
}

.formLogin>form>input {
    display: grid;
    margin: 20px;
    padding: 10px 70px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}
.formLogin >form> input:focus {
    box-shadow: 0 0 0 0.2rem rgba(69, 48, 35, 0.907);
    border-radius: 2rem;
}
.formLogin >form>input::placeholder {
    color: rgba(69, 48, 35, 0.907);
        font-weight: 100;
        font-size: 1rem;
}

.botaoLogin {
    background: linear-gradient(to right, rgb(41, 28, 20), rgba(124, 84, 59, 0.713));
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 100%;
    height: 3rem;
    border: none;
    color: #ffffff;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.5s;
}

.botaoLogin:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}

hr {
    width: 100%;
    height: 0.3rem;
    border-radius: 0.8rem;
    border: none;
    margin: 1.5em 0 1rem 0;
    background:rgb(41, 28, 20);
}

.formLogin > h4 {
    text-align: center;
    margin: 30px;
    cursor: pointer;
    transition: all 0.5s;
}
.formLogin > h4:hover {
    color:rgb(41, 28, 20) ;
}
