footer{
    background-color: rgba(139, 94, 66, 0.486);
    display: flex;
    color: black;
    padding: 3em;
    height: 70px;
    width: auto;
    bottom: 0%;
    columns: 3;
}
footer > div{
    display: flex;
    width: 50%;
    height: 100%;
    padding-right: 20%;
}
footer > p{
    columns: 2;
    padding-left: 3%;
}
